body {
    background-color:  #1E013B;
    background-image: url('background-sky.png'); 
    background-size: cover;
    background-repeat: no-repeat;
  }

 .navbar {
    background-color: #1E013B;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    justify-content: space-between;
    justify-items: center;
    color: white;
  }
  
h1, h2 {
    margin-top: 30px;
}
.canvas-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
.canvas-option {
    width: 200px;
    height: 150px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.canvas-option:hover {
    transform: scale(1.1);
}
canvas {
    border: 2px solid #fff;
    background-color: black;
    margin: 20px 0;
}
.input-container {
    margin: 20px 0;
}
#userName {
    padding: 10px;
    border: 1px solid #fff;
    background-color: #0f3460;
    color: #fff;
    border-radius: 5px;
    outline: none;
}
#saveBtn {
    padding: 10px 20px;
    background-color: #ff4c60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#saveBtn:hover {
    background-color: #ff6b81;
}